<!-- HEADER -->
<div class="header">
        <nav appScroll class="navbar navbar-expand-lg pt-4 pb-4">
            <div class="container">
                <img src="../../assets/img/exlogoGreen.png" width="187" >

                <a class="navbar-brand" href="#">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#link">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Team</a>
                        </li>
                       
                    </ul>
                   
                </div>
            </div>
        </nav>
</div>
<!-- HEADER -->

<!-- Sections to be highlighted -->
<section id="home">
    <p>kAHKAAHKAHSAKHSAK</p>
</section>

<section id="link">
    <!-- Content for Link section -->
</section>

<section id="about">
    <!-- Content for Link section -->
</section>