<!-- HEADER -->
<div class="header">
        <nav appScroll class="navbar navbar-expand-lg pt-4 pb-4">
            <div class="container">
                <img src="../../assets/img/exlogoGreen.png" width="187" >

                <a class="navbar-brand" href="#">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#home">Home</a>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Team</a>
                        </li>
                       
                    </ul>
                   
                </div>
            </div>
        </nav>
</div>
<!-- HEADER -->

<!-- Sections to be highlighted -->
<section id="home">
    <p>kAHKAAHKAHSAKHSAK</p>
</section>

<section id="about">
   <div class="aboutContent">
    <p class="mainHeading">ABOUT <span>BRAIN BLUEPRINT</span><span class="smallLine"></span></p>

    <div class="caraousalAbout">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner py-5">
              <div class="carousel-item active">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h2>LIVE WHAT’S IN YOU</h2>
                        <p class="innerCarousalPara">The Secret to success is living what’s IN you. When you live up to your innate true potentials, your innate core personality and you keep on listening the inner voice within you, you get more success and happier life.
                            BrainBluePrint is the catalyst to your Success!!</p>
                    </div>
                    <div class="col-6">
                        <img src="../../assets/img/slider1.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
   </div>
</section>